<div>
  <h2>Sign up</h2>

  <%= form_with url: create_user_path do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
